<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        div.container {
            width: 100%;
            border: 1px #373737;
        }

        header, footer {
            padding: 1em;
            color: #f5f5f5;
            background-color: #003B6F;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
            background-color: #ffffff;
            color: #373737;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em 1em 20em 1em;
            overflow: hidden;
            background-color: #f5f5f5;
            color: #373737;
        }
    </style>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

</head>
<body>

<div class = "container">
    <header>
        <img src="/images/Tardis.png"><h1>Doctor Who Guide</h1>
    </header>
