<%- include("../includes/header.ejs", {title: doctor._number}); %>
<nav>
    <ul>
        <li><a href="/doctor/all"><< back</a></li>
        <li><a href="/doctor/addTrait/?_number=<%= doctor._number%>">Add a personality trait!</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <h1><b>Doctor Number: <%=doctor._number%></b></h1>
        <p>Played by: <%=doctor.actor%></p>
        <p>Eye color: <%=doctor.eye_color%></p>
        <p>Hair: <%=doctor.hair_color + " , " + doctor.hairstyle + " length"%></p>
        <p>Appears to be: <%=doctor.apparent_age%></p>
        <p>Approxiamate actual age here: <%=doctor.approx_age%></p>
        <p>Personality traits: </p>
        <%for (var i = 0; i < traits.length; i++){%>
        <li><%= traits[i].personality %></li> <%}%>

</article>


<%- include("../includes/footer.ejs"); %>