<%- include("../includes/header.ejs", {title:"Add New Doctor"}); %>
<nav>
    <ul>
        <li><a href="/doctor/all"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Doctor!! </h1>
    <form action="/doctor/insert" method="POST">
        <input type="hidden" id="_number" name="_number" value="<%= number %>">
        <br />
        <br />
        Played by: <input id="actor" name="actor" type="text" />
        <br/>
        <br/>
        Hair color: <input id="hair_color" name="hair_color" type="text" />
        <br/>
        <br/>
        Hair style(curly & long, straight & medium, etc): <input id="hairstyle" name="hairstyle" type="text"/>
        <br/>
        <br/>
        Eye color: <input id="eye_color" name="eye_color" type="text"/>
        <br/>
        <br/>
        How old does this generation appear to be?: <input id="apparent_age" name="apparent_age" type="text"/>
        <br/>
        <br/>
        How old is the Doctor in this form?: <input id="approx_age" name="approx_age" type="text"/>

        <br/>
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>