<%- include("../includes/header.ejs", {title: "Doctors"}) %>
<nav>
    <ul>
        <h3>The Doctors: </h3>
        <%for (var i = 0; i < result.length; i++) {%>
        <li><a href="/doctor/?_number=<%= result[i]._number%>"><%= result[i]._number %></a></li>
        <%}%>
        <br />
        <li><a href="/"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <p>Off to the left are all the doctors we have so far.  Click on them to see more!</p>
    <br />
    <br />
    <p>Don't see the Doctor you want?</p>
    <p>Add one <a href="/doctor/add/doctorChoose">here!</a></p>

</article>

<%- include("../includes/footer.ejs")%>