<%- include("../includes/header.ejs", {title:"Add trait"}); %>
<nav>
    <ul>
        <li><a href="doctor/?_number=<%= result%>"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Trait For <%=result%> </h1>
    <form action="/doctor/insertTrait" method="POST">
        <input type="hidden" id="doctor_number" name="doctor_number" value="<%= result%>">
        <br />
        <br />
        Enter a trait:
        <br>
        <input id="personality" name="personality" type="text" />


        <br/>
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>