<%- include("../includes/header.ejs", {title:"Select a Doctor"}); %>
<article>
    <h1>Enter a Number for the Doctor</h1>
    <form action="/doctor/add" method="get">
        Number: <input id="_number" name="_number" type="text" />
        <br />
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>