<%- include("../includes/header.ejs", {title:"Add a New Species"}); %>
<article>
    <h1>Enter the name of the species!</h1>
    <form action="/species/add" method="get">
        Name: <input id="species_name" name="species_name" type="text" />
        <br />
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>