<%- include("../includes/header.ejs", {title: "Species"}) %>
<nav>
    <ul>
        <h3>Species We Have So Far: </h3>
        <%for (var i = 0; i < result.length; i++) {%>
        <li><a href="/species/?species_name=<%= result[i].species_name%>"><%= result[i].species_name %></a></li>
        <%}%>
        <br />
        <li><a href="/"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <p>Off to the left are all the species we have so far.  Click on them to see more!</p>
    <br />
    <br />
    <p>Don't see the species you want?</p>
    <p>Add one <a href="/species/add/speciesChoose">here!</a></p>

</article>

<%- include("../includes/footer.ejs")%>