<%- include("../includes/header.ejs", {title:"Add trait"}); %>
<nav>
    <ul>
        <li><a href="species/?species_name=<%= result%>"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Trait For <%=result%> </h1>
    <form action="/species/insertTrait" method="POST">
        <input type="hidden" id="species_name" name="species_name" value="<%= result%>">
        <br />
        <br />
        Enter a trait:
        <br>
        <input id="traits" name="traits" type="text" />


        <br/>
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>