<%- include("../includes/header.ejs", {title:"Add New Species"}); %>
<nav>
    <ul>
        <li><a href="/species/all"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Species!! </h1>
    <form action="/species/insert" method="POST">
        <input type="hidden" id="species_name" name="species_name" value="<%= name %>">
        <h3>Details for <%=name%></h3>
        <br/>
        <br/>
        Description of species: <input id="description" name="description" type="text" />
        <br/>
        <br/>
        Number of appendages (1, 2, 3, etc): <input id="num_appendages" name="num_appendages" type="text"/>
        <br/>
        <br/>
        Does this species have hair:
        <select id="hair" name="hair">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br/>
        <br/>
        Select their home planet:
        <select id="planet_name" name="planet_name">
            <%for (var i=0; planets.length > i; i++) {%>
            <option value="<%=planets[i].planet_name%>"><%=planets[i].planet_name%></option>
            <%}%>
        </select>
        <br/>
        <br/>
        Skin color: <input id="skin_color" name="skin_color" type="text"/>
        <br/>
        <br/>
        Number of Eyes (1, 2, 3, etc): <input id="number_eyes" name="number_eyes" type="text"/>
        <br/>
        <br/>
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>