<%- include("../includes/header.ejs", {title: species.species_name}); %>
<nav>
    <ul>
        <li><a href="/species/all"><< back</a></li>
        <li><a href="/species/addTrait/?species_name=<%= species.species_name%>">Add a trait for this species!</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <h1><b>Name: <%=species.species_name%></b></h1>
    <p> <%=species.description%></p>
    <p>Number of appendages: <%=species.number_appendages%></p>
    <p>Hair: <%=species.hair%></p>
    <p>Home planet: <%=species.planet_name%></p>
    <p>Skin color: <%=species.skin_color%></p>
    <p>Number of eyes: <%=species.number_eyes%></p>
    <p>Traits Common to This Species: </p>
    <%for (var i = 0; i < traits.length; i++){%>
    <li><%= traits[i].traits %></li> <%}%>

</article>


<%- include("../includes/footer.ejs"); %>