<%- include("../includes/header.ejs", {title: companion._name}); %>
<nav>
    <ul>
        <li><a href="/companion/all"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <h1><b>Name: <%=companion._name%></b></h1>
    <p>Eye color: <%=companion.eye_color%></p>
    <p>Hair : <%=companion.hair_color + " , " + companion.hairstyle%></p>
    <p>Age (approx): <%=companion.approx_age%></p>

    <p>Relationship with doctor(s): </p>
    <%for (var i = 0; i < relationship.length; i++){%>
   <li><%= relationship[i].doctor %> - <%= relationship[i].relationship %></li> <%}%>

</article>


<%- include("../includes/footer.ejs"); %>