<%- include("../includes/header.ejs", {title:"Add New Companion"}); %>
<nav>
    <ul>
        <li><a href="/companion/all"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Companion!! </h1>
    <form action="/companion/insert" method="POST">
        <input type="hidden" id="_name" name="_name" value="<%= name %>">
        <br/>
        <br/>
        Hair color: <input id="hair_color" name="hair_color" type="text" />
        <br/>
        <br/>
        Hair style(curly & long, straight & medium, etc): <input id="hairstyle" name="hairstyle" type="text"/>
        <br/>
        <br/>
        Eye color: <input id="eye_color" name="eye_color" type="text"/>
        <br/>
        <br/>
        How old is this companion?: <input id="approx_age" name="approx_age" type="text"/>

        <br/>
        <br />
        Select what doctor they travel with:

        <select id="doctor" name="doctor">
            <% for(var i=0; doctors.length > i; i++ ) {
            %>
            <option value="<%= doctors[i]._number %>"><%= doctors[i]._number%></option>
            <% } %>

        </select>
        <br/>
        <br/>
        Describe their relationship in a few words: <input id="relationship" name="relationship" type="text"/>

        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>