<%- include("../includes/header.ejs", {title: "Companion"}) %>
<nav>
    <ul>
        <h3>Companions: </h3>
        <%for (var i = 0; i < result.length; i++) {%>
        <li><a href="/companion/?_name=<%= result[i]._name%>"><%= result[i]._name %></a></li>
        <%}%>
        <br />
        <li><a href="/"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <p>Off to the left are all the companions we have so far.  Click on them to see more!</p>
    <br />
    <br />
    <p>Don't see the companion you want?</p>
    <p>Add one <a href="/companion/add/companionChoose">here!</a></p>

</article>

<%- include("../includes/footer.ejs")%>