<%- include("./includes/header.ejs", {title: title}) %>
<nav>
    <ul>
        <li><a href="/images/ERDiagram.png">ER Diagram</a></li>
        <li><a href="/images/RelationalSchema.png">Relational Schema</a></li>
        <li><a href="/images/FunctionalDependency.png">Functional Dependency Diagram</a></li>
        <li><h3><a href="/"><< back</a></h3></li>
    </ul>
</nav>
<article>
    <h1>Howdy!</h1>
    <p>This is a webpage designed to help all you whovians search for whatever you need to know.  You can look at things by
    doctor, or by companion, or by other characters!  You can even input things to expand the database! Because this IS a class
    assignment, off the the left are some links to snazzy diagrams that will only make sense to people that know what the heck a
    database is, so don't worry too much about those.  Allons-y!</p>
</article>
<%- include("./includes/footer.ejs")%>