<%- include("./includes/header.ejs", {title: title}) %>
<nav>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/doctor/all">Doctors</a></li>
        <li><a href="/companion/all">Companions</a></li>
        <li><a href="/species/all">Species</a></li>
        <li><a href="/planet/all">Planets</a></li>
        <li><a href="/otherCharacter/all">Other Characters</a></li>
    </ul>
</nav>
<article>
<h3><b>FUN FACT!</b></h3>
    <p>The header color is the shade officially recognized by the BBC as "Tardis Blue"!</p>
</article>
<%- include("./includes/footer.ejs")%>