<%- include("../includes/header.ejs", {title:"Add New Planet"}); %>
<nav>
    <ul>
        <li><a href="/planet/all"><< back</a></li>
    </ul>
</nav>
<article>
    <h1>Add New Planet!! </h1>
    <form action="/planet/insert" method="POST">
        <input type="hidden" id="planet_name" name="planet_name" value="<%= planet %>">
        <br />
        <br />
        Describe the Planet: <input id="description" name="description" type="text" />
        <br/>
        <br/>
        Atmosphere <input id="atmosphere" name="atmosphere" type="text"/>
        <br/>
        <br/>
        Main Language: <input id="_language" name="_language" type="text"/>
        <br/>
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>