<%- include("../includes/header.ejs", {title:"Add a Planet"}); %>
<article>
    <h1>Enter the Name of the Planet</h1>
    <form action="/planet/add" method="get">
        Name: <input id="planet_name" name="planet_name" type="text" />
        <br />
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>