<%- include("../includes/header.ejs", {title: planet.planet_name}); %>
<nav>
    <ul>
        <li><a href="/planet/all"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <h1><b>Planet Name: <%=planet.planet_name%></b></h1>
    <p> <%=planet.description%></p>
    <p>Atmosphere: <%=planet.atmosphere%></p>
    <p>Main Language: <%=planet._language%></p>

</article>


<%- include("../includes/footer.ejs"); %>