<%- include("../includes/header.ejs", {title: "Planets"}) %>
<nav>
    <ul>
        <h3>Planets In the Whoniverse: </h3>
        <%for (var i = 0; i < result.length; i++) {%>
        <li><a href="/planet/?planet_name=<%= result[i].planet_name%>"><%= result[i].planet_name %></a></li>
        <%}%>
        <br />
        <li><a href="/"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <p>Off to the left are all the planets we have so far.  Click on them to see more!</p>
    <br />
    <br />
    <p>Don't see the planet you want?</p>
    <p>Add one <a href="/planet/add/planetChoose">here!</a></p>

</article>

<%- include("../includes/footer.ejs")%>