<%- include("../includes/header.ejs", {title: "Other Character"}) %>
<nav>
    <ul>
        <h3>Other Characters: </h3>
        <%for (var i = 0; i < result.length; i++) {%>
        <li><a href="/otherCharacter/?_name=<%= result[i]._name%>"><%= result[i]._name %></a></li>
        <%}%>
        <br />
        <li><a href="/"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <p>Off to the left are all the characters we have so far.  Click on them to see more!</p>
    <br />
    <br />
    <p>Don't see the character you want?</p>
    <p>Add one <a href="/otherCharacter/add/otherCharacterChoose">here!</a></p>
    <br/>
    <br/>
    These are the characters that have been in episodes on their home planet:
    <%for(var i = 0; home.length > i; i++){%>
        <li><%=home[i]._name%></li>
    <%}%>

</article>

<%- include("../includes/footer.ejs")%>