<%- include("../includes/header.ejs", {title:"Add a Character"}); %>
<article>
    <h1>Enter a Name for the Character</h1>
    <form action="/otherCharacter/add" method="get">
        Name: <input id="_name" name="_name" type="text" />
        <br />
        <br />
        <input type="submit" />

    </form>
</article>
<%- include("../includes/footer.ejs"); %>