<%- include("../includes/header.ejs", {title: otherCharacter._name}); %>
<nav>
    <ul>
        <li><a href="/otherCharacter/all"><< back</a></li>
    </ul>
</nav>
<article>
    <% if (locals.was_successful){%>
    <div class = "col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Sucessfully Saved
        </div>
    </div>
    <%}%>
    <h1><b>Name: <%=otherCharacter._name%></b></h1>
    <p>Eye color: <%=otherCharacter.eye_color%></p>
    <p>Hair : <%=otherCharacter.hair_color + " , " + otherCharacter.hairstyle%></p>
    <p>Age (approx): <%=otherCharacter.approx_age%></p>
    <p>Species: <%=otherCharacter.species%></p>
    <p>Relationship with doctor(s): </p>
    <%for (var i = 0; i < relationship.length; i++){%>
    <li><%= relationship[i].doctor %> - <%= relationship[i].relationship %></li> <%}%>

</article>


<%- include("../includes/footer.ejs"); %>